@import "tailwindcss";
@import "@fontsource/kanit/index.css";

body {
  font-family: 'Kanit', sans-serif;
}

.quill-editor {
  margin-bottom: 24px;
  border-radius: 8px;
  font-size: 14px;
}
.quill-editor .ql-container {
  min-height: 150px;
}

@media (max-width: 767px) {
  .ql-toolbar .ql-formats {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.125rem;
  }
  .ql-toolbar .ql-formats > * {
    flex: 1 0 calc(12.5% - 0.125rem);
    max-width: calc(12.5% - 0.125rem);
  }
}